{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="span6">
        {% if not request.user.is_authenticated %}
            <form action="" method="post">{% csrf_token %}
                {{ register_form|as_bootstrap }}
                <div class="control-group">
                    <div class="control">
                        <button type="submit" class="btn">{% trans 'Register' %}</button>
                    </div>
                </div>
            </form>
        {% else %}
            
        {% endif %}
    </div>
    <div class="span6">
        {% if not request.user.is_authenticated %}
            <form action="{% url login %}?next={% url home %}" method="post">{% csrf_token %}
                {{ login_form|as_bootstrap }}
                <div class="control-group">
                    <div class="control">
                        <button type="submit" class="btn">{% trans 'Login' %}</button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
